.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-records-chart {
  margin: auto;
  width: 80%;
  display: block;
}

.App-records {
  width: 500px;
  text-align: center;
  display: table-cell;
}

.App-record {
  background-color: #213345;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}

.App-aquifers {
  width: 250px;
  text-align: center;
  display: table-cell;
}

.App-aquifer {
  background-color: #193366;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}

.App-aquifer-active {
  background-color: #ff9933;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}

.App-aquifer:hover {
  background-color: #2851a4;
}

.App-aquifer:active {
  background-color: #ff9933;
}

.App-mainTable {
  width: 100%;
  display: table;
}

.App-mainTableRow {
  display:table-row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
